<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Команды</title>
        <style>
        table {
            border: 1px solid;
            border-collapse: collapse;
            width: 60%;
        }
        td, th {
            border: 1px solid;
        }
        .centered-test {
            text-align: center;
        }
        </style>
    </head>
    <body>
        <div align="center" class="centered-text">
            Добро пожаловать, <b>{{.user_name}}</b> <small>({{.user_ua}})</small>
        </div>
        <br>
        <table align="center">
            <tr>
                <th>Команда</th>
                <th>Результат</th>
                <th>Время</th>
            </tr>
            {{ range $key, $value := .cmds }}
                <tr>
                    <td>{{.Command}}</td>
                    <td>{{resToString .Result}}</td>
                    <td>{{getDate .Time}}</td>
                </tr>
            {{ end }}
        </table>
    </body>
</html>
